@CHARSET "UTF-8";

/**
*   Zen CSS
*
*/

/**
*   IMPORT EXTERNAL STYLE SHEETS 
*   We have separated out these styles because they are
*   common to the zen template system.
*/
@import "layout.css";
@import "icons.css";

/**
*   FONT STYLES 
*
*  Standardize font sizes and line-height across browsers 
*/

body {
  font:13px tahoma, arial, verdana, clean,sans-serif;
  *font-size:small;
  *font:x-small;
}

table {
  font-size:inherit;
  font:100%;
}
select, input, textarea {
  font:99% tahoma, arial,helvetica,clean,sans-serif;
}
pre, code {
  font:115% monospace;
  *font-size:100%;
}

table tr.odd {
  background: #ddd;
}

tr, td {
  padding: .25em;
}

td.icon {
  text-align: center;
}


/**
*   LAYOUT STYLES 
*
*  Styles pertaining to minor layout adjustments, such as
*   changing from fluid width to fixed width.  
*   See layout.css for major adjustments.
*/
body {
  margin: 0;
  padding: 0;
  min-width: 700px;      
  /* 2x (left-side fullwidth + main padding) + right-side fullwidth */
}

#page {
  width: 900px;               /* page width - optional */
  margin: 0 auto;             /* center the page - optional */
  /*border-left: 2px solid #AAA;*/
  /*border-right: 2px solid #AAA;*/
}


/**
*  OTHER STYLES
*
*  Styles that are specific to this theme.
*/

/* Common styles */
body {
  background: #7b797b;
}

#page {
  font-family: Arial, Verdana, sans-serif;
  color: #111;
  line-height: 17px;;
  background-color: #fff;
}

#container {
  margin:0px 15px 15px 15px;
}

#squeeze {
  background:#fff;
}

#main .node .content{
  color: #000;
}

div.content, div.links {
  font-size: 13px;;
}

a {
  color: #2763A5;
  text-decoration: none;
}

		
h1.title, h1.title a, h1.title a:hover {
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  color: #6191C5;
  font-size: 200%;
  margin:0;
  margin-bottom:0px;
  line-height:normal;
}

h1, h1 a, h1 a:hover {
  font-size: 140%;
  color: #444;
  font-family: Arial, Verdana, sans-serif;
  margin:.5em 0 .5em 0;
}

h2, h2 a, h2 a:hover, .block h3, .block h3 a {
  font-size: 122%;
  color: #444;
  font-family: Arial, Verdana, sans-serif;
  margin:.5em 0 .5em 0;
}

h3 { 
  font-size: 107%;
  font-weight: bold; 
  font-family: Arial, Verdana, sans-serif;
}

h4, h5, h6 {
  font-weight: bold;
  font-family: Arial, Verdana, sans-serif;
}

p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
}

pre { 
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
}

blockquote {
  border: 1px 0px #ccc solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}

code {
  font-size: 100%;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}

img { 
  border: 0; 
}

ol, ul, dl { 
  position: relative; 
}

/* Header styles */
#header {
  background: url(images/blue-fade-top.png) repeat-x;
  padding:0 15px;
}
#top-links {
  float:right;
  margin-top:10px;
  font-size:85%;  
}
#top-links a {
  text-decoration:underline;
  color:#FF0000;
  font-weight:bold;
}
#logo-title {
  position: relative;
}

#logo{
  /*margin-top:40px;*/
  vertical-align: baseline;
  position:relative;
  top:8px;
}

#name-and-slogan {
  display: inline;
}

#site-name {
  margin: 0;
  display: inline;
}

#site-name a, #site-name a:hover {
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  color: #6DA6E2;
  font-size: 176%;
  margin: 0;
  padding: 0;
}

#site-slogan {
  color: #aaa;
  margin: 0;
  font-size: 85%;
  margin-left:15px;
}

#search {
  position: absolute;
  padding:0;
  top: 0;
  right: 0;
}

#mission {
  color: #666;
  font-weight:bold;
  padding: 2em;
  background: #D7E3F0 url(images/background.png);
  margin-bottom:15px;
  font-size: 85%;
  border: solid 1px #B5C9D8;
}

.breadcrumb {
  margin:0;
  padding:0;
  font-size: 85%;
  margin-left:15px;
}

/* Menu styles */
div.menu {
  margin-top:15px;
}

#primary {
  font-size: 85%;
  line-height:normal;
  background:#000;
}

#primary ul {
  padding:0;
  margin:0;
  list-style:none;
}

#primary li {
  display:inline;
}

#primary a {
  color:#FFF;
  font-weight:normal;
  display:block;
  float:left;
  padding:6px 16px 6px 16px;
  margin: 0px 1px 0px 0px;
  border-right: solid #fff 1px;
}

#primary a {
  background-position:0% 0px;
}

#primary a:hover {
  background-position:0% -42px;
  text-decoration:none;
}

#primary a.active {
  background-position: 0% -84px;
}

#secondary {
  padding-left:15px;
  background: #6DA6E2; /*#347FD2;*/
  border-bottom: solid #2763A5 4px;
}
#secondary ul {
  margin:0;
  padding:0;
  list-style:none;
}
#secondary li {
  margin:0;
  padding:0;
  display:inline;
}

#secondary li a {
  float:left;
  display:block;
  color: #fff;
  font-size: 85%;
  text-decoration:none;
  padding:0px 5px 0px 5px;
}

#secondary a:hover {
  background:#2763A5;
}

#secondary a.active {
  font-weight:bold;
}

/* Link styles */
ul.links {
  text-align:left;
}

ul.links li {
  border-left: 1px solid #9cf;
}

.taxonomy {
  margin:0;
  padding:0;
  display:inline;
}

.taxonomy ul.links li {
  border:none;
  padding:0 .1em 0 .2em;
}

.taxonomy ul.links li:after {
  content: ",";
}

.taxonomy ul.links li.last:after {
  content: "";
}

ul.links li.first {
  padding-left:0;
  border: none;
}

.links {
  color: #999;
}
.links a {
  padding:0 .1em 0 .1em;
}

.submitted, .taxonomy { 
  font-size: 85%;
  color: #999; 
}

/* Form styles */	
input, textarea, textfield {
  margin:0;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  padding:1px;
  font-size: 100%;
}

fieldset {
  border: solid #ccc 1px;
  padding-right:0;
}

input.form-checkbox, input.form-radio {
  border: none;
}

#search .form-text, #user-login-form .form-text {
  color: #444;
  border: 1px solid #6191C5;
  padding: 2px;
}

.form-submit, .button {
  padding: 1px;
}

#search .button, 
#search .form-submit,
#user-login-form .button,
#user-login-form .form-submit {
  background-color: #68A0D9;
  color: #fff;
  font-weight:bold;
  border: 1px solid #4070A1;
}

#node-form, #node-form .node-form {
  overflow:auto;
}

#user-login-form {
  text-align:left;
}

#user-login-form .item-list ul {
  margin-top:10px;
}

/* Alerts, Status, Help Messages  */
.messages {
  background:#303030;
  color:#fff;
  padding: 1em; 
  background:#b54542; 
  margin: 10px 0;  
}

.messages a {
  color:#fff;
  text-decoration:underline;
}
.messages ul li {
  list-style:none;
  list-style-image:none;
  margin-bottom:15px;
  padding:0;
}

/* Footer styles */
#footer-wrapper {
  margin:0;
}

#footer {
  background: url(images/footer-fade.png) repeat-x;
  color:#FFFFFF;
  margin:0 15px;
  padding:10px 15px;
}
  
#footer a {
  color: #fff;
  font-weight:bold;
  border-bottom: 1px dotted #FFFFFF;
}
  
#footer a:hover {
  border-bottom: 1px solid #FFFFFF;
}

/* Administration styles */
.admin-panel {
  margin:0;
  padding:0;
}

.admin-panel .body {
  background-color: #eee;
  border: solid #6191C5 1px;
}

.admin-panel .body dl, .admin-panel .body p {
  padding:10px;
}

.admin-panel h3 {
  margin-bottom:0;
  padding:5px 5px 5px 30px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 122%;
  color:#fff;
  border-width: 0px 2px 2px 2px;
}

/* Comment styles */
.comment {
  margin:0px 0px 2px 0;
  padding: 10px;
}

.comment  h3.title, .comment  h3.title a {
  font-size: 122%;
  color: #2266AB;
  font-weight:normal;
  font-family: Arial, Verdana, sans-serif;
  margin-bottom:3px;
  margin-top:0;
}

.comment .picture, .node .picture {
  float:left;
  margin-right:15px;
}

.comment-unpublished {
  background: #FCE38E;
}

.comment .new {
  color: #FFC600;
  font-weight:bold;
  font-family: Arial, Verdana, sans-serif;
}

.comment .links {
  text-align: right;
}

/* Poll styles */
.poll .bar .foreground {
  background: #2763A5;
}

.poll .bar {
  padding:2px;
  background: #BDCBDD;
}

/* Book styles */
div.node div.content .book-navigation {
  background: #eee;
  margin:0;
  padding:0;
}

div.node div.content .book-navigation ul.menu {
  border:0;
  border-top:1px solid #2763A5;
  margin:0;
  padding-bottom:10px;
}

div.node div.content .book-navigation .page-links {
  background: #C1D4EA; /*#347FD2;*/
  border:1px solid #2763A5;
  border-width:1px 0 1px 0;
  padding:5px;
  margin:0;
}

/* Forum styles */
#forum table {
  width: 100%;
}

/* Pager styles */
.pager {
  text-align:center;
  margin-top: 30px;
}

.pager  a, .pager-current {
  padding:3px 8px 3px 8px;
  margin:0 2px 0 2px;
  color: #2763A5;
  font-weight:bold;
  border: solid 1px #eee;
  background:url(images/pager-fade2.png) repeat-x;  
}

.pager-current {
  color: #fff;
  background: url(images/pager-fade.png) repeat-x;  
}

/* Node, Block, Content styles */
.node {
  margin-bottom:15px;
  padding-bottom:15px;
}

.node h2.title {
  padding:0;
  margin-bottom:.1em;
  border-bottom:solid #ddd 1px;
}

.view-content-cod-scheduled-sessions h2.title {
  border-bottom:0;
  border-top:solid #ddd 1px;
}

.node h2.title a {
  color: #555;
  font-size: 129%;
  font-weight:normal;
  font-family: Arial, Verdana, sans-serif;
  line-height:1.4em;
}

.node .content {
  padding-top:10px;
  padding-bottom:5px;
}

.sticky {
  border-bottom: solid 3px #ddd;
}

.profile {
  clear:none;
}

#sidebar-left .block, #sidebar-right .block {
  padding-bottom:10px;
  margin-top:50px;
}
#sidebar-right {
  padding-top:8px;
}
.block .item-list ul {
  padding-left:0;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
} 
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
} 
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}




/*************************************************************************************/
h1.featured-sessions-title a, 
h1.proposed-sessions-title a {
  font-size:110%;
  font-weight:normal;
}


.node .co-button {
  float:right;
}
.ntype-session {
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}
table.table-form-style tbody {
 border:none;
}

.node-form {
  width:600px;
}


/**
 *  View all confirmed sessions
 */
.view-all-proposed-sessions,
.view-all-confirmed-sessions {
  clear:both;
  display:block;
  color:#fff;
  text-align:right;
  background:#303030;
  padding:5px 11px;
  margin:1em 0;
} 
.view-all-proposed-sessions a,
.view-all-confirmed-sessions a {
  display:block;
  color:#fff;
  padding: 5px 25px;
  background:url(images/sweep-arrow.png) center right no-repeat;
  text-decoration:underline;
}

body .rounded-grey-box {
  margin:0;
  background:#dedfe7;
  margin:.5em 0;
}
body .rounded-grey-box a {
  color:#000;
  text-decoration:underline;
  font-size:1.3em;
  font-weight:normal;
  padding:5px 15px;
  display:block;
}

body.ntype-session .rounded-grey-box {
  background:#939598;
}

.rounded-grey-box h2.title {
  color:#fff;
  padding-left:15px;
  font-weight:normal;
  font-size:1.2em;
  padding-bottom:.5em;
}

.rounded-grey-box .add-discussions-link a,
.rounded-grey-box .add-assets-link a {
  padding-right:.3em;
}
.rounded-grey-box a.co-button {
  color:#fff;
  font-size:85%;
  padding-right:1em;
}
#session-links-content table {
  width:100%;
}
#sessions-links-content table tbody, 
#sessions-links-content table thead tr th {
  border-bottom: 0px solid #fff;
  border-top: 0px solid #fff;
}

#sessions-links-content table thead, 
#sessions-links-content table tr.odd, 
#sessions-links-content tr.even {
  border-bottom: 0px solid #fff;
  background-color: white;
}

.green-session-title, .green-group-header, body.groups-directory h1.title {
  background:#6b9e6b;
  color:#fff;
  font-weight:normal;
  font-size:1.8em;
  margin:0;
  padding: 10px 15px;
  line-height:1.2em;
}
.green-group-header a,
.green-session-title a {
  color:#fff;
}

.scheduled-node .session-title .info {
  margin-top:.5em;
  font-size:70%;
}
.green-session-title {
  margin-bottom:.5em;
}

/**
 *  Nedjo tabs IE 6 support
 */
.anchors { /* auto clear */
    display: inline-block; /* @ IE 7 */
    _height: 1%; /* @ IE 6 */
}
.anchors a {
    float: left;
}
.anchors .tabs-disabled a {
    filter: alpha(opacity=40);
    zoom: 1; /* trigger filter */
} 


/**
 * JSTABS used on schedule page
 */ 
.jstabs ul.primary {
  border-bottom:1px solid #000;
  border-collapse:collapse;
  height:auto;
  line-height:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0pt
  white-space:nowrap;
}
.jstabs ul.primary li {
  display:inline;
}
.jstabs ul.primary li a {
  color:#fff;
  background-color:#939598;
  border:none;
  border-width:1px;
  height:auto;
  margin-right:0.5em;
  padding:.2em .5em;
  text-decoration:none;
  font-size:.9em;
}
.jstabs ul.primary li.active a {
  background-color:#b64646;
  border-color:#000;
  border-style:solid;
  border-width:1px;
}
.jstabs ul.primary li a:hover {
  background-color:#b87171;
  border-color:#000;
} 
.fragment {
  padding:5px;
  border:solid #000 1px;
  border-style:none solid solid solid;
}

body.schedule .fragment {
  background:#303030;
}

/**
 *   Attendee Table
 *   and Discussion Table
 *  and members
 *   TODO - push some of this back to style.css
 */
.view-cod-attendees table, 
.view-cod-conferences table, 
#sessions-links-content table, 
.view-cod-members table, 
.view-cod-discussions table {
  width: 100%;
}

.view-cod-members table td, 
.view-cod-attendees table td, 
.view-cod-discussions table td {
  background-color: white;
}

.green-collapsed a {
  background-image: url(images/green-arrow-collapsed.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  display:block;
  padding-right:15px;
}
.green-expanded a {
  background-image: url(images/green-arrow-expanded.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  display:block;  
  padding-right:15px;
}


/**
 * Profile Styles
 */
.green-title {
  font-size:2em;
  color:#fff;
  padding:10px 5px;
  background:#6b9e6b;
  margin-bottom: .5em;
} 
.grey-title {
  font-size:1.5em;
  color:#000;
  text-decoration:underline;
  padding:10px 5px;
  margin-bottom:.2em;
  background:#dedfe7;
  display:block;
}
.blue-info {
  color:#4a8694;
}
.profile-picture {
  padding:0;
  margin:0;
  float:left;
  margin-top:.75em;
}
.profile .summary {
  float:right;
}
.profile-picture .picture {
  float:none;
  padding:0;
  margin:0;
}
.summary {
  float:left;
  width:90%;
}
.profile  h2.title,
.profile .picture {
  display:none;
}
.profile .node h2.title,
.profile .node .picture {
  display:block;
}

.my-schedule h3 {
  margin:0;
  padding:0;
  color:#fff;
  background:#000;
  font-size:1.8em;
  font-weight:normal;
  padding:5px 15px;
  margin-bottom:1em;
}
.my-schedule h4 {
  margin:0;
  padding:0;
  font-size:1.5em;
  font-weight:normal;
  margin-top:.5em;
  margin-bottom:.5em;
}
.my-schedule {
  clear:both;
}

.my-schedule .view-conference_organizing-7my-schedule {
  margin-bottom: 1em;
}
.my-schedule table {
  width:100%;
}
.my-schedule td {
  padding: 5px 0 0 15px;
}
.my-schedule tr {
    background:url(images/green-back-fade.png) repeat-x bottom;
}
.my-schedule td.timelabel {
  width:25%;
}
.my-schedule .view-data-node_title,
.my-schedule .view-data-node {
  /*float:left;*/
}
.my-schedule .view-data-node_title {
  /*margin-right:.3em;
  padding-right:.3em;
  border-right:solid #000 1px;*/
}
.my-schedule table tbody {
  border:none;
}

/*for drupalcon boston2008*/
#main .node .content ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

#main .node .content ul li {
   padding-bottom: 3px;
}